.container {
    background:         /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ), url(../../../public/images/products-page-img-2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 8px 8px rgb(0, 0, 0) inset;

    padding: 0 0 6rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 35rem;
    margin-right: 1rem;
  }

  .content h1 {
    color: #eee;
  }
  
  .header {
    margin-bottom: 1rem;
  }
  
  .header > div {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
  
  .header strong {
    display: inline-block;
    width: 20%;
  }
  
  .payment {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  
  .payment a {
    background-color: wheat;
    color: black;
    padding: 0.8rem 5rem;
    border-radius: 1rem;
  }